{% extends 'layout.html' %} 
{% load static %}
{% block content %}
<div class="col-md-10 lab-list-col-10">
<h1 class="text-h2-lightblue">From DES to 3-DES</h1><div class="content" id="experiment-article-section-8-content">
<ul>
<li>
<a href="http://en.wikipedia.org/wiki/Triple_DES">Wikipedia On Triple DES</a>
</li>
<li>
<a href="http://en.wikipedia.org/wiki/Data_Encryption_Standard">Wikipedia On DES</a>
</li>
<li>
Introduction to Modern Cryptography by Jonathan Katz and Yehuda Lindell.
</li>
<li>
<a href="http://www.cs.berkeley.edu/~luca/cs276/lecture10draft.pdf">Notes on AES</a>
</li>
</ul>
</div>						</div>
{% endblock %}	