{% extends 'layout.html' %} 
{% load static %}
{% block content %}

<div class="col-md-10 lab-list-col-10">
<h1 class="text-h2-lightblue">From DES to 3-DES</h1><div class="content" id="experiment-article-section-6-content">


<form method="POST" name="myquiz">
{% if questn %}
    <ol id="quizHere">
        {% for q in questn %}
            <div class="d">
            <li>{{ q.q_text }}</li>
            <ol class="d">
                <li><input name="question{{q.q_id}}" type="radio" value="a"/>{{q.option1}}t</li>
                <li><input name="question{{q.q_id}}" type="radio" value="b"/>{{q.option2}}</li>
                <li><input name="question{{q.q_id}}" type="radio" value="c"/>{{q.option3}}</li>
                <li><input name="question{{q.q_id}}" type="radio" value="d"/>{{q.option4}}</li>
                <input id="answer{{q.q_id}}" name="answer{{q.q_id}}" type="hidden" value="{{q.answer}}">
            </ol>
            </div>
            <br>
        {% endfor %}
    </ol>
    {% else %}
        <p>No Quiz available.</p>
    {% endif %}
</form>

<form>
<div align="center">
<input type="button" value="Grade Me!" name="B1" onClick="gradeit()"> <input type="button" value="Reset" name="B2" onClick="document.myquiz.reset()">
</div>
</form>


</div>
</div>
{% endblock %}